<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  
  
  <appSettings>
    <add key="Default_Currency_ID" value="B4D45F48-7993-DE11-BECE-005056B47DB0" />
    <!-- live setting-->
    <!--<add key="OrganizationUri" value="https://crm.metricon.com.au/MetriconHomes/XRMServices/2011/Organization.svc"/>
    <add key="UserName" value="c-crmsupport"/>
    <add key="Password" value="Blackburn1"/>
    <add key="Domain" value="METHOMES"/>
    <add key="MetriconSalesWebServiceURL" value="http://sqspreprodws/MetriconSales.asmx"/>
    <add key="BC_Company" value="NATIONAL"/>
    <add key="MRS_ACCEPT_EMAIL_TEMPLATE_ID" value="E6DA2BB8-8E81-E311-9CBA-005056B41A24"/>
    <add key="MRS_REJECT_EMAIL_TEMPLATE_ID" value="6AF64E85-9C81-E311-9CBA-005056B41A24"/>
    <add key="MrsNotificationQueueId" value="0C2087A2-D43C-E411-95FD-005056B46274"/>
    <add key="CRMContractApiUrl" value="https://webapi.metricon.com.au/LeadSubscribeWebAPI/v1/api/Contract/" />-->
    <!--end live setting-->
    <!-- test setting-->
    <!--<add key="OrganizationUri" value="https://crm16uat.metricon.com.au/MetriconHomes16uat/XRMServices/2011/Organization.svc" />
    <add key="UserName" value="c-crmsupport" />
    <add key="Password" value="Blackburn1" />
    <add key="Domain" value="METHOMES" />
    <add key="MetriconSalesWebServiceURL" value="http://sqspreprodws/MetriconSales.asmx" />
    <add key="BC_Company" value="TESTNAT" />
    <add key="MRS_ACCEPT_EMAIL_TEMPLATE_ID" value="E6DA2BB8-8E81-E311-9CBA-005056B41A24" />
    <add key="MRS_REJECT_EMAIL_TEMPLATE_ID" value="6AF64E85-9C81-E311-9CBA-005056B41A24" />
    <add key="MrsNotificationQueueId" value="195FD4D4-7D26-E411-BCFE-005056B46276" />-->
    <!-- end test setting-->
    <!-- dev setting-->
    <add key="CRMContractApiUrl" value="http://vm-webdev16:5643/v1/api/Contract/" />
    <add key="OrganizationUri" value="https://metriconhomes365dev.metricon.com.au/XRMServices/2011/Organization.svc" />
    <add key="UserName" value="c-crmsupport" />
    <add key="Password" value="Blackburn1" />
    <add key="Domain" value="METHOMES" />
    <add key="BC_Company" value="TESTNAT" />
    <add key="MRS_ACCEPT_EMAIL_TEMPLATE_ID" value="E6DA2BB8-8E81-E311-9CBA-005056B41A24" />
    <add key="MRS_REJECT_EMAIL_TEMPLATE_ID" value="6AF64E85-9C81-E311-9CBA-005056B41A24" />
    <add key="MrsNotificationQueueId" value="7677FECE-F077-E311-863F-005056B457C1" />
    <add key="WEBAPISyncCustomerMethodName" value="SyncContractContacts" />
    <add key="WEBAPIGetContactListMethodName" value="GetContractContactList" />
    <!-- end dev setting-->
    <!--add key="CRM_DomainName" value="MetHomes"/>
    <add key="CRM_UserToken_Username" value="c-crmsupport"/>
    <add key="CRM_UserToken_Password" value="Blackburn1"/-->
    <!--add key="CRM_UserToken_Username" value="c-crmsupport"/-->
    <add key="ContractTypeBriefString" value="PC,STC" />
    <add key="ContractTypeNameString" value="PC – Studio Pre Contract,STC – Studio After Contract" />
    <add key="BC_User" value="SQSUSER" />
    <add key="EstimateDocumentLibraryName" value="CustomerDocs" />
    <add key="EstimateDocumentServerName" value="http://mweb/departments/it/" />
    <add key="CRM_TITLE_STRING" value="MISS,100000000|MR,100000001|MRS,100000002|MS,100000003|DR,100000004" />
  </appSettings>
  <connectionStrings>
    <!--add name="SqlConnection" connectionString="Data Source=vm-sqlmel01;Initial Catalog=PMO006_CRM9UAT;Persist Security Info=True;User ID=sqs;Password=password" providerName="System.Data.SqlClient"/>-->
    <add name="SqlConnection" connectionString="Data Source=vm-sqlmel01;Initial Catalog=PMO006_dev2;Persist Security Info=True;User ID=sqs;Password=password" providerName="System.Data.SqlClient" />
    <!--<add name="SqlConnection" connectionString="Data Source=SQSDATABASE;Initial Catalog=PMO006;Persist Security Info=True;User ID=sqs-sqsdatabase;Password=YKqyONnX7zriYL3NCguh" providerName="System.Data.SqlClient" />-->
    <add name="BusinessCraftConnection" connectionString="DSN=testnat;User ID=DBA;Password=MANAGER" providerName="System.Data.Odbc" />
    <!--<add name="BusinessCraftConnection" connectionString="DSN=NATIONAL;User ID=DBA;Password=MANAGER" providerName="System.Data.Odbc"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime maxRequestLength="209715100" />
    <httpModules>
      
      <!--add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" /-->
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" /><add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" /><add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" /></httpModules>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="dxWsBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client />
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="65536000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Metricon.WCF.MetriconRetailSystem.Services.RetailSystem">
        <endpoint address="" binding="wsHttpBinding" contract="Metricon.WCF.MetriconRetailSystem.Contracts.IRetailSystem" bindingConfiguration="dxWsBinding" name="dxWsBinding" />
      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true">
        <listeners>
          <add name="tracelistener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.log" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.webServer>
    
    <modules>
      
      
      
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" /><add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" /><add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" /></modules>
  <validation validateIntegratedModeConfiguration="false" /></system.webServer>
  <elmah>
    
    
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="SqlConnection" applicationName="MRS WCF" />
  <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    --><security allowRemoteAccess="false" /></elmah>
  
<location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->  
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location></configuration>